
<style type="text/css">

.bs-docs-example::after{
  content:"Respuestas" !important;
}

</style>
<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @question.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:question_type) %>:</strong></dt>
  <dd><%= @question.question_type %></dd>
</dl>

<div class="bs-docs-example">
  <% @question.answers.each do |answer| %>
    <p class="text-info">
        <%= answer.name %>
        &nbsp;
        <span id="weight_slider_<%= answer.id %>_badge" class="badge badge-success"><%= answer.percentage %></span>
    </p>
    
    <div id="weight_slider_<%= answer.id %>"></div>
    <script>
        $(function() {
            var slider_id = "#weight_slider_<%= answer.id %>";
            // setup master volume
            $( slider_id ).slider({
                value: <%= answer.percentage %>,
                orientation: "horizontal",
                range: "min",
                animate: true,
                change: function( event, ui ) {
                   var new_value = $(slider_id).slider( "option", "value" );
                   $( slider_id+"_badge" ).html(new_value);
                   updateAnswerWightValueInModel('<%= answer.id %>',new_value,slider_id);
                },
                slide: function( event, ui ) {
                   $(  slider_id+"_badge"  ).html( ui.value );
                }                
            });
        });
    </script>

  <% end %>
</div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              questions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_question_path(@question), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              question_path(@question),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
