<%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :user_name %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to t('views.scaffold.back_html'), users_path, class: 'btn secondary' %>
  </div>
<% end %>
