<%= render partial: 'layouts/page_header', locals: { title: t('views.users.index.title') } %>

<table class="table table-striped">
<thead>
  <tr>
    <th><%= t('activerecord.attributes.user.user_name') %></th>
    <th><%= t('activerecord.attributes.user.first_name') %></th>
    <th><%= t('activerecord.attributes.user.last_name') %></th>
    <th><%= t('activerecord.attributes.user.email') %></th>
    <th>rol</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.user_name, user_path(user) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>TO-DO</td>
        <td>
          <%= link_to t('views.scaffold.edit_html'), edit_user_path(user), class: 'btn btn-mini' %>
          <%= link_to t('views.scaffold.delete_html'), user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('views.scaffold.new_html'), new_user_path, class: 'btn btn-primary' %>
