<%= render partial: 'layouts/page_header', locals: { title: t('views.users.show.title') } %>

<section id="general-information">
  <p id="notice"><%= notice %></p>
  <div>
    <p>
      <strong><%=t 'activerecord.attributes.user.user_name'%></strong>
      <%= @user.user_name %>
    </p>
    <p>
      <strong><%=t 'activerecord.attributes.user.first_name'%></strong>
      <%= @user.first_name %>
    </p>
    <p>
      <strong><%=t 'activerecord.attributes.user.last_name'%></strong>
      <%= @user.last_name %>
    </p>
    <p>
      <strong><%=t 'activerecord.attributes.user.email'%></strong>
      <%= @user.email %>
    </p>
  </div>

</section>

<div class="form-actions">
  <%= link_to t('views.scaffold.back_html'), users_path, class: 'btn secondary' %>
  <%= link_to t('views.scaffold.edit_html'), edit_user_path(@user), class: 'btn btn-mini' %>
  <%= link_to t('views.scaffold.delete_html'), @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %>
</div>

