<% if @questionnaire.questions.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.question.name') %></th>
        <th><%= t('activerecord.attributes.question.question_type') %></th>
        <th><%= t('activerecord.attributes.question.weight') %></th>
      </tr>
    </thead>
    <tbody>
      <% @questionnaire.questionnaire_questions.each do |questionnaire_questions| %>
        <tr>
          <td><%= questionnaire_questions.question.name %></td>
          <td><%= questionnaire_questions.question.question_type %></td>
          <td>
              <div id="weight_slider_<%= questionnaire_questions.id %>"></div>
              <span id="weight_slider_<%= questionnaire_questions.id %>_badge" class="badge badge-success right"><%= questionnaire_questions.weight %></span>
          </td>
        </tr>
          <script>
              $(function() {
                  var slider_id = "#weight_slider_<%= questionnaire_questions.id %>";
                  // setup master volume
                  $( slider_id ).slider({
                      value: <%= questionnaire_questions.weight %>,
                      orientation: "horizontal",
                      range: "min",
                      animate: true,
                      change: function( event, ui ) {
                         var new_value = $( slider_id).slider( "option", "value" );
                         $( slider_id+"_badge" ).html(new_value);
                         updateQuestionWightValueInModel('<%= @questionnaire.id %>','<%= questionnaire_questions.question_id %>',new_value,slider_id);
                      },
                      slide: function( event, ui ) {
                         $(  slider_id+"_badge"  ).html( ui.value );
                      }

                  });
              });
          </script>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%=t 'views.questionnaires.empty' %></p>
<% end %>