<% if @questionnaire %>

  <% if @questionnaire.questions.any? %>
    <%= render partial: 'layouts/page_header', locals: { title: @questionnaire.name } %>

    <%= form_for @questionnaire, html: { class: "form-horizontal" }, url: "/answer_questionnaire" do |f| %> 
      
      <div class="accordion" id="accordion">
      <% if @questionnaire.questions_propias.any? %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsePropias">
            Propias
            </a>
          </div>
          <div id="collapsePropias" class="accordion-body collapse">
              <div class="accordion-inner">    
                <%= render partial: 'questions_list_for_answer', locals: { questions: @questionnaire.questions_propias } %>
              </div>
          </div>
        </div>
 
      <% end %>


      
      <% if @questionnaire.questions_anonimas.any? %>

        <% @users.each do |user| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseAnonimas_<%= user.user_name %>">
              <%= user.user_name %>
            </a>
          </div>

          <div id="collapseAnonimas_<%= user.user_name %>" class="accordion-body collapse">
              <div class="accordion-inner">    
                 <%= render partial: 'questions_list_for_answer', locals: { 
                                                                          questions: @questionnaire.questions_anonimas,  
                                                                          user: user 
                                                                        } 
                  %>
              </div>
          </div>
      </div>
      
         
        <% end %>
       </div>  
      <% end %>
     
      <input type="hidden" name="questionnaire" value="<%= @questionnaire.id %>" />
      <%= csrf_meta_tag %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-large"><%= t 'Contestar' %></button>
      </div>

    <% end %>
  <% else %>
    <h2 style="margin-top: 50px;">
      <%= t('views.questionnaires.questions.empty') %>
    </h2>
  <% end %>
<% else %>
  <h2 style="margin-top: 50px;">
    <%= t('views.questionnaires.empty') %>
  </h2>
<% end %>