<%= render partial: 'layouts/page_header', locals: { title: t('views.questionnaires.index.title') } %>
<% if @questionnaires.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.questionnaire.name') %></th>
        <th><%= t('activerecord.attributes.questionnaire.date_from') %></th>
        <th><%= t('activerecord.attributes.questionnaire.date_to') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @questionnaires.each do |questionnaire| %>
        <tr>
          <td><%= link_to questionnaire.name, questionnaire_path(questionnaire) %></td>
          <td><%= questionnaire.date_from %></td>
          <td><%= questionnaire.date_to %></td>
          <td>
            <%= link_to t('views.scaffold.edit_html'),
                        edit_questionnaire_path(questionnaire), class: 'btn btn-mini' %>
            <%= link_to t('views.scaffold.delete_html'),
                        questionnaire_path(questionnaire),
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%=t 'views.questionnaires.empty' %></p>
<% end %>
<%= link_to t('views.scaffold.new_html'), new_questionnaire_path,
            class: 'btn btn-primary' %>
