<%= render partial: 'layouts/page_header', locals: { title: t('views.questionnaires.show.title') } %>

<section id="general-information">
  <p id="notice"><%= notice %></p>
  <p>
    <strong><%=t 'activerecord.attributes.questionnaire.name'%></strong>
      <%= @questionnaire.name %>
  </p>
  <p>
    <strong><%=t 'activerecord.attributes.questionnaire.date_from'%></strong>
    <%= @questionnaire.date_from %>
  </p>

  <p>
    <strong><%=t 'activerecord.attributes.questionnaire.date_to'%></strong>
    <%= @questionnaire.date_to %>
  </p>
</section>

<%= render partial: 'layouts/page_header', locals: { title: t('views.questionnaires.questions.title') } %>
<%= render partial: 'questionnaire_questions' %>

<div class="form-actions">
  <%= link_to t('views.scaffold.back_html'), questionnaires_path, class: 'btn secondary' %>
  <%= link_to t('views.scaffold.edit_html'), edit_questionnaire_path(@questionnaire), class: 'btn btn-mini' %>
  <%= link_to t('views.scaffold.delete_html'),@questionnaire, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %>
</div>

