<%= render partial: 'layouts/page_header', locals: { title: t('views.categories.index.title') } %>

<% if @categories.any? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.question.name') %></th>
      <th><%= t('activerecord.attributes.question.min_value') %></th>
      <th><%= t('activerecord.attributes.question.max_value') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.min_value %></td>
        <td><%= category.max_value %></td>
        <td>
          <%= link_to t('views.scaffold.edit_html'), edit_category_path(category), class: 'btn btn-mini' %>
          <%= link_to t('views.scaffold.delete_html'), category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><%=t 'views.categories.empty' %></p>
<% end %>


<div class="form-actions">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_category_path,
            :class => 'btn btn-primary' %>
</div>

