<%= render partial: 'layouts/page_header', locals: { title: t('views.categories.show.title') } %>


<section id="general-information">
  
  <p id="notice"><%= notice %></p>
  <div>
    <p>
      <strong><%=t 'activerecord.attributes.category.name'%></strong>
      <%= @category.name %>
    </p>
        <p>
      <strong><%=t 'activerecord.attributes.category.min_value'%></strong>
      <%= @category.min_value %>
    </p>
        <p>
      <strong><%=t 'activerecord.attributes.category.max_value'%></strong>
      <%= @category.max_value %>
    </p>
  </div>

<div class="form-actions">
  <%= link_to t('views.scaffold.back_html'), categories_path, class: 'btn secondary' %>
  <%= link_to t('views.scaffold.edit_html'), edit_category_path(@category), class: 'btn btn-mini' %>
          <%= link_to t('views.scaffold.delete_html'),@category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini' %>
</div>
